In [ ]:
import pandas as pd
import glob
from datetime import datetime
path2 = '/content/'
df2 = pd.DataFrame()
#for filename in glob.glob(path2 + "1.12/data_**.csv"):
for filename in glob.glob(path2 + "skraceno/_ukupno_**.*.csv"):
  l = pd.read_csv(filename)
  l = l.loc[(l['channel_name'] == 'HRT3 HD') | (l['channel_name'] == 'HRT4 HD')]
  d = l[0:len(l)-2]
  d = pd.DataFrame(d)
  df2 = df2.append(d)

In [ ]:
df2['datum'] = pd.to_datetime(df2['datum'], format='%m/%d/%Y').dt.date

In [ ]:
df2['datum']

0       2021-01-20
1       2021-01-20
2       2021-01-20
3       2021-01-20
4       2021-01-20
           ...
2875    2021-03-09
2876    2021-03-09
2877    2021-03-09
2878    2021-03-09
2879    2021-03-09
Name: datum, Length: 324642, dtype: object

In [ ]:
df2

     channel_name       datum   h   m  broj_gledatelja   vrijeme
0         HRT3 HD  2021-01-20   0   0              351   0:00:00
1         HRT4 HD  2021-01-20   0   0              551   0:00:00
2         HRT3 HD  2021-01-20   0   1              325   0:01:00
3         HRT4 HD  2021-01-20   0   1              574   0:01:00
4         HRT3 HD  2021-01-20   0   2              329   0:02:00
...           ...         ...  ..  ..              ...       ...
2875      HRT4 HD  2021-03-09  23  57              518  23:57:00
2876      HRT3 HD  2021-03-09  23  58              328  23:58:00
2877      HRT4 HD  2021-03-09  23  58              508  23:58:00
2878      HRT3 HD  2021-03-09  23  59              320  23:59:00
2879      HRT4 HD  2021-03-09  23  59              499  23:59:00

[324642 rows x 6 columns]

In [ ]:
df2.sort_values(by=['datum', 'vrijeme'], inplace=True)

In [ ]:
df2

     channel_name       datum  h   m  broj_gledatelja  vrijeme
0         HRT3 HD  2020-11-13  0   0              553  0:00:00
1         HRT4 HD  2020-11-13  0   0              397  0:00:00
2         HRT3 HD  2020-11-13  0   1              541  0:01:00
3         HRT4 HD  2020-11-13  0   1              405  0:01:00
4         HRT3 HD  2020-11-13  0   2              511  0:02:00
...           ...         ... ..  ..              ...      ...
1196      HRT4 HD  2021-03-25  9  57             1141  9:57:00
1197      HRT3 HD  2021-03-25  9  58              193  9:58:00
1198      HRT4 HD  2021-03-25  9  58             1118  9:58:00
1199      HRT3 HD  2021-03-25  9  59              181  9:59:00
1200      HRT4 HD  2021-03-25  9  59             1117  9:59:00

[324642 rows x 6 columns]

In [ ]:
df2.to_csv(r'/content/\ukupno_SKRACENO.csv', index=False)