In [ ]:
import pandas as pd
import glob
import re
from datetime import datetime
path2 = '/content/'
def solve(s):
  return re.sub("(st|nd|rd|th)", "", s)
df2 = pd.DataFrame()
for filename in glob.glob(path2 + "25.3/data_**.csv"):
  l = pd.read_csv(filename)
  l['timestamp'] = l['timestamp'].apply(solve)
  l = pd.DataFrame(l)
  df2 = df2.append(l)

In [ ]:
#df2 = df2.loc[(df2['channel_name'] == 'HRT3 HD') | (df2['channel_name'] == 'HRT4 HD')]
df2.replace('HRT 3', 'HRT3 HD', inplace=True)
df2.replace('HRT 3 HD', 'HRT3 HD', inplace=True)
df2.replace('HRT3', 'HRT3 HD', inplace=True)
df2.replace('HRT3 H', 'HRT3 HD', inplace=True)
df2.replace('Hrt3 Hd', 'HRT3 HD', inplace=True)
df2.replace('HRT 3 SD', 'HRT3 HD', inplace=True)
df2.replace('HRT 4', 'HRT4 HD', inplace=True)
df2.replace('HRT 4 HD', 'HRT4 HD', inplace=True)
df2.replace('HRT4', 'HRT4 HD', inplace=True)
df2.replace('HRT4 SD', 'HRT4 HD', inplace=True)
df2.replace('Hrt4 Hd', 'HRT4 HD', inplace=True)
df2['timestamp'] = pd.to_datetime(df2['timestamp'], format='%B %d %Y, %H:%M:%S.%f')
df2[['h', 'm', 's', 'datum']] = [(row.hour, row.minute, row.second, datetime.date(row)) for row in df2['timestamp']]
g = pd.DataFrame({'broj_gledatelja': df2.groupby(['channel_name', 'datum', 'h', 'm']).size()}).reset_index()
g[['vrijeme']] = g['h'].astype(str) + ':' + g['m'].astype(str)
g['vrijeme'] = pd.to_datetime(g['vrijeme'], format='%H:%M').dt.time

In [ ]:
g.sort_values(by=['datum', 'vrijeme'], inplace=True)

In [ ]:
g.to_csv(r'/content/\ukupno_25.3.csv', index=False)

In [ ]:
g

     channel_name       datum   h   m  broj_gledatelja   vrijeme
0         HRT3 HD  2021-03-25   0   0              178  00:00:00
1446      HRT4 HD  2021-03-25   0   0              431  00:00:00
1         HRT3 HD  2021-03-25   0   1              182  00:01:00
1447      HRT4 HD  2021-03-25   0   1              450  00:01:00
2         HRT3 HD  2021-03-25   0   2              176  00:02:00
...           ...         ...  ..  ..              ...       ...
2884      HRT4 HD  2021-03-25  23  58              292  23:58:00
1439      HRT3 HD  2021-03-25  23  59              500  23:59:00
2885      HRT4 HD  2021-03-25  23  59              261  23:59:00
1440      HRT3 HD  2021-03-26   0   0                7  00:00:00
2886      HRT4 HD  2021-03-26   0   0                2  00:00:00

[2887 rows x 6 columns]